.list-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  padding: 10px;
}

.item-card {
  display: block;
  justify-self: center;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background-color: white;
}
