<h1>The gap Property:</h1>

<p>Use the <em>gap</em> shorthand property to adjust the space between the columns and rows:</p>


<div class="grid-container">
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-2.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-3.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
  <img src="../assets/img/shoes-1.jpg" class="grid-item"/>
</div>
