.logo {
  display: block;
  margin: auto;
}

.header-text {
  display: flex;
  justify-content: center;
  margin: -65px auto 25px;
  color: #ffa020;
  font-weight: 400;
  font-family: system-ui;
  font-size: 19px;
}
