.images-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.image-card {
  display: block;
  max-width: 300px;
  max-height: 300px;
  justify-self: center;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background-color: white;
}
