/* You can add global styles to this file, and also import other style files */

body {
  background: #f2e9de;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input {
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

.mapboxgl-ctrl-bottom-left {
  opacity: 0.3;
  bottom: -8px;
  right: -9px;
  left: auto;
  &:hover {
    opacity: 0.5;
  }
}

.mapboxgl-ctrl-top-right {
  top: 0;
  right: 15px;
}
a.mapboxgl-ctrl-logo {
  background-size: 80%;
}
.mapboxgl-ctrl-attrib .mapbox-improve-map {
  font-weight: normal;
}
.mapboxgl-ctrl-bottom-right {
  right: 77px;
  bottom: 2px;
}
.mapboxgl-ctrl-group:not(:empty) {
  display: none;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background: transparent;
}

.mapboxgl-ctrl-attrib a {
  color: white;
  text-decoration: none;
  opacity: 0.3;
  font-family: 'Montserrat';

  &:hover {
    color: white;
    opacity: 0.5;
  }
}

.pulse-box {
  float: left;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pulse in SVG */
svg.pulse-svg {
  overflow: visible;

  .first-circle {
    fill: #fff;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }

  .second-circle {
    @extend .first-circle;
    animation-delay: 1s;
  }

  .third-circle {
    @extend .first-circle;
    animation-delay: 2s;
  }
}

@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.25;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
